# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# SWC platform-specific binaries (to reduce warnings)
node_modules/@next/swc-linux-*
node_modules/@next/swc-darwin-*
node_modules/@next/swc-win32-ia32-*
node_modules/@next/swc-win32-arm64-*